## <include href="https://github.com/github/gitignore/raw/main/Node.gitignore">
## </include>

## <include href="https://github.com/github/gitignore/raw/main/Global/macOS.gitignore">
## </include>

## <include href="https://github.com/github/gitignore/raw/main/Global/JetBrains.gitignore">
## </include>

## <include href="https://github.com/github/gitignore/raw/main/Global/VisualStudioCode.gitignore">
## </include>

# IDE data that should just be ignored
.idea/

# Production
.build/
.env.*

# Automatic backup files
*.bak
*~

# Stuff that probably needs review because someone added it with automatic tooling.
