## <include href="https://github.com/github/gitignore/raw/main/Node.gitignore">
## </include>

## <include href="https://github.com/github/gitignore/raw/main/Global/macOS.gitignore">
## </include>

## <include href="https://github.com/github/gitignore/raw/main/Global/JetBrains.gitignore">
## </include>

## <include href="https://github.com/github/gitignore/raw/main/Global/VisualStudioCode.gitignore">
## </include>

# Automatic backup files
*.bak
*~

# Build system
.build/
.github/
node_modules/
patches/

# Common
.editorconfig
.eslintrc
.eslintrc.*
.gitattributes
.gitignore
.lintstagedrc
.prettierignore
.prettierrc
.prettierrc.*
tsconfig.*.json
tsconfig.json

# Stuff that probably needs review because someone added it with automatic tooling.
