## <include href="https://github.com/github/gitignore/raw/main/Node.gitignore">
## </include>

## <include href="https://github.com/github/gitignore/raw/main/Global/macOS.gitignore">
## </include>

## <include href="https://github.com/github/gitignore/raw/main/Global/JetBrains.gitignore">
## </include>

## <include href="https://github.com/github/gitignore/raw/main/Global/VisualStudioCode.gitignore">
## </include>

# IDE data that should just be ignored
.idea/

# Production
.build/
.env.*

# Config files that Prettier just can't handle.
.editorconfig
.gitignore
.prettierignore
Dockerfile
example.env

# Automatic backup files
*.bak
*~

# The typescript config files have major manual formatting involved so that they are easier to maintain.
tsconfig.*

# Misc file types Prettier can't handle.
*.conf
*.cronjob
*.sh
*.mwb

# Stuff that probably needs review because someone added it with automatic tooling.
